/*
Theme Name: AIP Theme
Author: Spencer Williams
Author URI: http://aninternetpresence.net
Version: 1.0.1
Description: The theme for my personal blog
License: Creative Commons - Attribution 4.0 International
License URI: https://creativecommons.org/licenses/by/4.0/
Text Domain: aip
*/

@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=VT323|Nunito|Merriweather);

ol,
ul {
	list-style: none;
	margin: 1em 0;
}

ol{
	list-style: decimal;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

article a,
nav a,
header a,
.sidebar a {
	text-decoration: underline;
	color: black;
}

.site a:focus,
.site a:active {
	background-color: black;
	color: white;
}


a:hover {
	text-decoration: none;
}


a img {
	border: 0;
}

/** Primary Styles **/
body {
	font-family: Verdana, Verdana, Geneva, sans-serif;
}
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

.entry-title {
	display: inline-block;	
	font-size: 2em;
    margin-bottom: 0.5em;
    margin-right: 1em;
}

.entry-title, .site-description{
	font-family: Merriweather, 'Times New Roman', 'Times New Roman', Times, serif;	
}

.category_list {
    font-size: 0.8em;
}

.category_list a {
    padding-left: 1em;
}

.posted-on {
    margin-bottom: 1em;
    text-align: right;
    margin-top: 1em;
}

.updated-on {
    color: gray;
    font-size: 0.8em;
}

time {
    border-bottom: 0.1em black dashed;
    padding-bottom: 0.2em;
    cursor: default;
}

.tags-links {
    margin-top: 1em;
}

.nav-menu, .entry-content {
	font-family: Nunito, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.navigation {
    background-color: #FFF4F8;
    display: table;
    margin: 0 auto;
    padding: 1em;
}

.nav-links > div {
    margin-bottom: 0.5em;
}

#main .nav-menu {
    margin-top: 1em;
}

blockquote {
    font-style: oblique;
    margin-bottom: 1em;
    background-color: #fcfcfc;
    padding: 0.8em;
    font-size: 1.1em;
}

code {
    font-family: monospace;
}

pre {
    font-family: monospace;
    background-color: #fbfbfb;
    padding: 0.4em;
    margin: 0.5em;
    overflow: auto;
}

#sidebar div {
    display: inline-block;
}

#sidebar ul {
    background-color: #CCF0FC;
    border-radius: 1em;
    padding: 0.5em;
}

#sidebar li {
    margin-bottom: 0.2em;
}

#sidebar {
    font-size: 0.8em;
    background-color: azure;
}

#sidebar #primary-sidebar > div {
    margin: 0 1em;
}

#sidebar #primary-sidebar {
    display: table;
    margin: 0 auto;
}

#primary-sidebar li{
    padding-bottom: 1em;
}

img.featured-medium {
    width: 45%;
}
.site-title {
    font-size: 3em;
    font-family: 'VT323', Consolas, 'Lucida Console', Monaco, monospace;
}

.site-title a {
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

.entry-content h1 {
	margin: 1em 0 0.8em;
}

.entry-content h2 {
	margin: 0.8em 0 0.5em;
}

.entry-content h3 {
	margin: 0.8em 0 0.5em;
    font-size: 1.2em;
}

.entry-content h3, .entry-content h4, .entry-content h5 {
	font-style: italic;
}

.entry-content a {
    color: #1C6396;
}

#gallery-1 a:active img, #gallery-1 a:focus img {
  border-color: transparent;
}

.gallery {
    background-color: azure;
}

.gallery dl {
    background-color: transparent;
}

.single-image-gallery, .wp-caption a {
  margin: 0 auto;
  display: table;
}

.gallery-icon a {
  display: inline-block;
}

.single-image-gallery img, .wp-caption a img{
  width: 100%;
  height: 50%; 
}

.single-image-gallery img, .wp-caption a img, .gallery-icon img {
  vertical-align: middle;
  margin: 5px 0;
}

#content {
    margin: 0 10%;
}

#content article {
    margin: 2% 5%;
}

#commentform label {
    width: 5em;
    display: inline-block;
}

#commentform p {
    margin-bottom: 0.5em;
}

#main article {
    margin: 2% 5%;
}

#main article p {
    margin-bottom: 1em;
}

#site-navigation {
    text-align: center;
}

#reply-title {
    margin-bottom: 1em;
}

#comments {
    margin: 0 15%;
}

.comment-body p {
    margin-bottom: 1em;
}

.comment-body {
    margin-bottom: 2em;
}

#menu-primary{
	padding: 0 1em;
    line-height: 2em;
}

.nav-menu {
	font-size: 1.5em;
}

#menu-primary li {
    display: block;
}

.nav-menu li {
    display: inline-block;
    margin: 0 1em;
	position: relative;
}

.nav-menu ul.children {
    position: absolute;
}

.nav-menu a:hover + ul.children li, .nav-menu ul.children:hover li {
    display: inline-block;
}

.nav-menu ul.sub-menu {
    display: none;
    position: absolute;
    top: 36px;
    z-index: 1;
}

.nav-menu a:hover + ul.sub-menu, .nav-menu ul.sub-menu:hover {
    display: block;
    border: 1px black solid;
    background-color: white;
    padding: 1em;
}

.nav-menu ul.children:before {
    content: '\25BC';
    position: relative;
    left: -1em;
    top: -1.2em;
}

.nav-menu a:hover + ul.children:before, .nav-menu ul.children:hover:before {
    position: absolute;
}

.pagination .nav-links{
	margin: 0.5em auto 0;
	display: inline-block;	
}

.pagination .screen-reader-text{
	margin: 0 0.3em;
}

.page-numbers {
	margin-right: 1em;
	white-space: nowrap;
}

.wp-caption-text {
  font-size: 0.9em;
  font-style: oblique;
}

.wp-caption {
  margin: 0 auto;
}

/** Home page **/
.home #content {
    margin: 0 10%;
}

.entry-content {
    line-height: 1.8em;
}

.entry-content ul {
    background-color: azure;
    padding: 0.5em;
}

.entry-content ul li {
    margin-bottom: 0.5em;
}

.entry-content .sharedaddy ul {
    background-color: white;
}

dl {
    background-color: azure;
}

dt {
    background-color: #efefef;
}

em {
    font-style: italic;
}

strong {
	font-weight: bold;
}

q {
    color: #4c4c4c;
    text-shadow: lightpink 1px 1px;
}

q:after {
    content: '\201d';
}

q:before {
    content: '\201c';
}

[type="submit"] {
    background-color: white;
    padding: 0.4em;
    font-family: Verdana, Verdana, Geneva, sans-serif;
}

[type="submit"]:active {
    background-color: white;
    color: black;
}

[type="submit"]:hover {
    background-color: black;
    color: white;
}

@media (min-width: 1400px) {
  .single #main article {
    margin: 2% 18%;
  }
}

/* Bootstrap breakpoints */

/* sm */
@media screen and (min-width: 576px) {
    #menu-primary li {
        display: inline-block;
    }

    #primary-sidebar li{
        padding-bottom: 0.5em;
    }

    .category_list a{
        padding-left: 0.5em;
    }

    .posted-on {
        margin-top: 0;
    }
}

/* md */
@media screen and (min-width: 768px) {
    
}

/* lg */
@media screen and (min-width: 922px) {
}

/* xl */
@media screen and (min-width: 1200px) {
}

/* xxl */
@media screen and (min-width: 1400px) {
}